<div style="margin-top: 50px; margin-left: 15%; width: 70%; background-color: white; overflow: hidden;" class="mat-elevation-z8">
    <div style="width: 60%; overflow: hidden; float: left;">
        <div style="width: 100%; text-align:center;margin:0; padding:0;">
            <ng-image-slider #nav
              [images]="post['slider']"
              [infinite]="false"
              [imageSize]="{width: '100%', height: 500}"
              [imagePopup]="true"
              [manageImageRatio]="true"
              [showArrow]="true"
              [videoAutoPlay]="true">
            </ng-image-slider>
        </div>
    </div>
    <div style="float: left; width: 40%; height: 100%;">
        <div style="margin-left: 5%; margin-top: 10px; width: 100%;">
            <p style="font-size: large;" (click)="goToProfile(post.username)">{{post.username}}</p>
            Description: <span *ngIf="post.description != null" style="color: gray;">{{post.description}}</span>
            <div></div>
            Hashtags: <span *ngFor="let tag of post.hashtags" style="color: gray;">{{tag}}</span>
            <div *ngIf="post.link != null && post.link.length > 0">
              Link: <a [href]="post.link" (click)="sendClick()">{{post.link}}</a>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div >
            <button mat-raised-button (click)="like()" style="height: 30px; width: 140px; background-color: rgb(255, 197, 252); margin-top: 10px; margin-left: 10px" >LIKE</button>
            <p style="display:inline; margin-left: 15px; color:rgb(255, 138, 249); font-size:medium; cursor:pointer" (click)="reactions()">{{likes}} </p>
            <button mat-raised-button (click)="dislike()" style="height: 30px; width: 140px; background-color: rgb(254, 255, 244); margin-top: 10px; margin-left: 20px;" >DISLIKE</button>
            <p style="display:inline; margin-left: 15px; font-size:medium; cursor:pointer" (click)="reactions()">{{dislikes}} </p>
        </div>
      <div style= "margin-top: 10px;margin-bottom: 2px;">
        <mat-list  role="list">
            <mat-list-item *ngFor="let comment of comments" role="listitem" style="color: rgb(95, 95, 95);">{{comment.content}}  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( {{comment.username}} )</mat-list-item>
          </mat-list>
      </div>
      <form >
        <mat-form-field class="example-full-width"   style="padding-bottom: 10px;">
            <input matInput placeholder="Add comment" id="newComment" name="commentText" [(ngModel)]="comment">
        </mat-form-field>
        <div class="example-full-width"  style="display: inline;">
            <button mat-raised-button style="float:right; width: 150px; color: rgb(7, 8, 10);" (click)="postComment()">Post comment</button>
        </div>
      </form>
      <div class="example-full-width"  style="display: inline;">
        <button mat-raised-button *ngIf = "!hidden" style="float: left; width: 150px; color: rgb(7, 8, 10);" (click) = "favourites(post.id)">Add to favourites</button>
        <button mat-raised-button style="margin-top: 2px; float:right; width: 150px; color: rgb(7, 8, 10);" (click)="reportPost()">Report</button>
        <button mat-raised-button style="margin-top: 2px; float:left; width: 150px; color: rgb(7, 8, 10);" (click)="share()">Share</button>

      </div>
    </div>
</div>


