<div class="bg" style="height: 100%; display: flex; justify-content:center;">
  <div class="m-4" style="border-style: solid; border-color: lightgrey; border-radius: 3%; border-width: 2px; width: 50%; padding: 20px">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="name">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="lastName">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Email" [(ngModel)]="email">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="phoneNumber">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Website URL" [(ngModel)]="website">
    </div>

    <div class="input-group mb-3">
      <textarea class="form-control" placeholder="Biography" [(ngModel)]="biography"></textarea>
    </div>

    <div class="input-group mb-3">
      <label class="mr-2 mt-2">Date of Birth</label>
      <input type="date" class="form-control" [(ngModel)]="birthDate"/>
    </div>

    <div class="input-group mb-3">
      <select class="form-control" [(ngModel)]="gender">
        <option disabled selected>Select gender</option>
        <option>MALE</option>
        <option>FEMALE</option>
        <option>OTHER</option>
      </select>
    </div>

<!--    <div class="input-group mb-3">-->
<!--      <input type="text" class="form-control" placeholder="username" [(ngModel)]="username"/>-->
<!--    </div>-->
    <button class="btn btn-success mt-2 mr-2" (click)="edit()">Save</button>
    <button class="btn btn-danger mt-2">Cancel</button>
  </div>
</div>

