  
<div style="height:105%; display: flex; justify-content: center;background-image: url(assets/insta\.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; height: max-content;">
    <mat-card class="mat-elevation-z8" style="margin-top: 4%; margin-bottom: 5%; width: 60%; height: 80%; display: flex; justify-content: center; align-items: center; height: max-content; padding-top: 20px; opacity: 80%;">
            <form #feedform="ngForm" style="width: 80%;" (ngSubmit)="submit()" novalidate>

                <h2 style="text-align: center;">
                    Create new post
                </h2>

                <div style="margin-bottom: 5%;"> 
                    <mat-form-field style="width:100%;">
                        <mat-label>Description</mat-label>
                        <input matInput   placeholder="Add post description" id="postDescription" #name = "ngModel" name="c1" [(ngModel)] = "description" style="height: 40%;"/>
                    </mat-form-field>
                  </div>
                  <div style="margin-bottom: 5%;">
                    <mat-form-field style="width:100%;">
                        <mat-label>Location</mat-label>
                        <input matInput   placeholder="Add post location" id="postLocation" #name2 = "ngModel" name="c2"[(ngModel)] = "location" style="height: 40%;"/>
                    </mat-form-field>
                </div>
                <div style="margin-bottom: 5%;">
                    <mat-form-field style="width:100%;">
                        <mat-label>Add post taggs</mat-label>
                        <input matInput  id="postTag"  #name3 = "ngModel" name="c11"  [(ngModel)] = "tag" style="height: 40%;"/>
                    </mat-form-field>
                    <button mat-stroked-button color="accent" type="button" id="selectButton" (click)="OnClick()">ADD TAGG</button>
                </div>
                
                <div style="display: flex; justify-content: center; margin-top: 5%; margin-bottom: 5%;">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    
                      <ng-container matColumnDef="tag">
                        <th mat-header-cell *matHeaderCellDef> Taggs list </th>
                        <td mat-cell *matCellDef="let element"> {{element}} </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  </div>
        
                  <div  style="margin-top: 22px; margin-bottom: 1%; text-align: center;">
                    <input style="display: none;" type="file" (change)="onFileSelected($event)" accept="image/*, video/*" #fileInput>
                    <span class="phone-in-line" style="max-width: 35%;">
                      <button mat-raised-button color="accent" type="button" style="padding: 12px 32px; margin-right: 1%;" (click)="fileInput.click()">
                        <mat-label [hidden]="!selectedFileHide">Pick data</mat-label>
                        <mat-label [hidden]="selectedFileHide">{{fileName}}</mat-label>
                      </button>
                    </span>
                    <span class="phone-in-line" style="max-width: 35%;">
                      <button mat-raised-button color="primary" style="padding: 12px 32px; margin-left: 12%;" [disabled] ="" type="submit" >Post data</button>
                    </span>
                </div> 

                  

        
            </form>
            
    </mat-card>
</div> 