<div class="container" xmlns="http://www.w3.org/1999/html">
  <h2 class=" text-center">Chat</h2>
  Chat with
  <div style="display: flex; margin-bottom: 20px">
  <input type="text" class="form-control" [(ngModel)]="peer"/>
  <button class="btn btn-primary" (click)="choosePeer()">Go</button>
  </div>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="mesgs">
        <div class="msg_history">

          <div *ngFor="let msg of messages">
          <div [ngClass]="msg.receiver === this.authService.getUsername() ? 'incoming_msg' : 'outgoing_msg'">
            <div [ngClass]="msg.receiver === this.authService.getUsername() ? 'received_msg' : 'sent_msg'">
              <div [ngClass]="{'received_withd_msg' : msg.receiver === this.authService.getUsername()}">
                <p *ngIf="msg.type !== 'LINK'">{{msg.content}}</p>
                <a *ngIf="msg.type === 'LINK' && !msg.private" href="{{msg.content}}" target="_blank">Shared Content</a>
                <p style="border: gray solid 1px" *ngIf="msg.type === 'LINK' && msg.private">You cannot see this content because you don't follow the author's profile</p>
                <img *ngIf="msg.type === 'ONETIME'" src="{{msg.linkToSource}}" (mouseleave)="seeMessage(msg)">
                <span class="time_date"> {{(msg.date.hour < 10) ? '0' + msg.date.hour : msg.date.hour}}:{{(msg.date.minute < 10) ? '0' + msg.date.minute : msg.date.minute}}    |    {{msg.date.month}} {{msg.date.dayOfMonth}}</span>
              </div>
            </div>
          </div>
          </div>


      </div>
    </div>

    </div></div>


  <div class="type_msg">
    <div style="background-color: lightgrey; opacity: 0.8" *ngIf="approval && !denied">
      <h3 class="pl-2 pt-2">You have received messages from a profile you don't follow.</h3>
      <button class="btn btn-outline-primary m-2" (click)="approveMessages()">Approve</button>
      <button class="btn btn-outline-secondary m-2" (click)="denyMessages()">Deny</button>
      <button class="btn btn-outline-danger m-2" (click)="deleteMessages()">Delete</button>
    </div>
    <div *ngIf="!approval">
    <div class="input_msg_write">
      <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="txtMessage" [disabled]="!peerChosen" (keydown)="sendMessage($event)"/>
    </div>
    <input type="file" accept=".jpg, .png" (change)="onFileSelected($event)"/>
    </div>
  </div>
</div>



