<div class="container" xmlns="http://www.w3.org/1999/html">
  <h2 class=" text-center">Chat</h2>
  Chat with
  <div style="display: flex; margin-bottom: 20px">
  <input type="text" class="form-control" [(ngModel)]="peer"/>
  <button class="btn btn-primary" (click)="choosePeer()">Go</button>
  </div>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="mesgs">
        <div class="msg_history">

          <div *ngFor="let msg of messages">
          <div [ngClass]="msg.message.receiver === this.authService.getUsername() ? 'incoming_msg' : 'outgoing_msg'">
            <div class="incoming_msg_img" *ngIf="msg.message.receiver === this.authService.getUsername()">
              <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
            </div>
            <div [ngClass]="msg.message.receiver === this.authService.getUsername() ? 'received_msg' : 'sent_msg'">
              <div [ngClass]="{'received_withd_msg' : msg.message.receiver === this.authService.getUsername()}">
                <p>{{msg.content}}</p>
                <span class="time_date"> 11:01 AM    |    June 9</span>
              </div>
            </div>
          </div>
          </div>

        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="txtMessage" [disabled]="!peerChosen"/>
            <button class="msg_send_btn" type="button" (click)="sendMessage()" [disabled]="!peerChosen">Send</button>
          </div>
        </div>
      </div>
    </div>

  </div></div>
