<div>
    <form >
        <mat-form-field class="example-full-width"   style="padding-bottom: 10px;">
            <input matInput placeholder="Add reason for reporting" id="newComment" name="commentText" [(ngModel)]="content">
        </mat-form-field>   
        <div class="example-full-width"  style="display: inline;">
            <button mat-raised-button style="float:right; width: 150px; color: rgb(7, 8, 10);" (click)="submit()">Report content</button>
        </div>
      </form>            
    
</div> 