<mat-toolbar style="min-width: 100%; max-width: max-content; background-color: white; color: gray;" class="mat-elevation-z8"> 
    <span style="width: 10px;"></span>
  
    <button mat-icon-button routerLink="../feed">
      <mat-icon>home</mat-icon>
    </button>
    <span style="margin-left: 10px;" routerLink="../feed">nistagram</span>
    <span style="width: 20px;"></span>
    
    <span style="margin-left: 100px;" *ngIf="this.authService.getRole() != 'ADMIN'">
        <mat-form-field>
            <input type="text" placeholder="search" matInput [matAutocomplete]="auto" (input)="updated()" [(ngModel)]="data">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option.name" (click)="seeDetails(option.id)">
                <span>{{option.name}}</span> |
                <small>{{option.type}}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </span>

    <span style="flex: 1 1 auto;" *ngIf="this.authService.isLoggedIn()">
      <button style="float: right; margin-right: 20px;" mat-stroked-button (click)="this.authService.logOut()">Log out</button>
      <button mat-stroked-button style="float: right; margin-right: 20px;" (click)="verifyProfile()" *ngIf="this.authService.getRole() != 'ADMIN'">Verify profile</button>
      <button mat-stroked-button style="float: right; margin-right: 20px;" (click)="verificationRequests()" *ngIf="this.authService.getRole() == 'ADMIN'">Verification requests</button>
      <button mat-stroked-button style="float: right; margin-right: 20px;" (click)="inappropriateContent()" *ngIf="this.authService.getRole() == 'ADMIN'">Inappropriate content</button>
      <button mat-stroked-button style="float: right; margin-right: 20px;" (click)="agentRequests()" *ngIf="this.authService.getRole() == 'ADMIN'">Agent requests</button>
      <button mat-stroked-button style="float: right; margin-right: 20px;" routerLink="./notifications" *ngIf="this.authService.getRole() != 'ADMIN'">Notifications</button>
      <button mat-raised-button color="accent" style="float: right; margin-right: 20px;" (click)="goToProfile()" *ngIf="this.authService.getRole() != 'ADMIN'">Your profile</button>
    </span>
  </mat-toolbar>
<router-outlet></router-outlet>